.component {
    color: rgb(133, 133, 41);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .full{
      min-height: 100vh;
      background: url("https://sun9-71.userapi.com/impf/a1gGulTODl9AVTIwECvn1SHQWL-qO1qLSy-Z1A/_CwIaq5UUv4.jpg?size=1080x1080&quality=96&sign=a1c11e11c05c44f41e156d44806a6bc9&type=album") center 20% / cover no-repeat fixed;
  }
.TableList {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 30px;
}
.TableList th {
  text-align: center;
  padding: 0 40px;
  background-color: #f7f7f7;
  line-height: 40px;
}
.TableList tr {
  text-align: center;
  transition: 0.6s;
  background: #fff;
}
.TableList tr:hover {
  cursor: pointer;
  background: #f7f7f7;
}
.TableList td {
  padding: 10px;
}
.TableList tbody {
  border-top: 0.5px solid rgb(173, 173, 173);
}

.link{
    display: block;
    padding: 20px;
    background-color: rgb(156, 136, 136);
    position: absolute;
    top: 20px;
    left: 20px;
}