.block{
    height: 30px;
    display: flex;
    flex-direction: column;
}
.block{
   background-color: #ccc;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
}

.nth1{
    color: blue;
}
.nth2{
    color: green;
}
.nth3{
    color: red;
}
.nth4{
    color: rgb(0, 0, 134);
}
.nth5{
    color: rgb(134, 0, 22);
}